* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(248, 248, 248);
}
.hero {
  width: 100%;
  height: auto;
  min-height: 630px;
  background-color: rgb(248, 248, 248);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 45% 55%;
  grid-template-areas:
    "sidebar head subhead"
    "sidebar items items";
  font-family: "Limelight", cursive;
}
.hero__navbar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
.hero__navbar h3 {
  padding: 40px;
  padding-left: 15%;
  font-size: clamp(20px, 2.7vw, 30px);
  color: #383838;
}
.hero__navbar ul {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  padding-left: 15%;
}
.hero__navbar li {
  margin-top: 27px;
  color: rgb(122, 122, 122);
  padding-left: 5px;
}
.hero__navbar li:hover {
  cursor: pointer;
}
.hero__navbar li:nth-of-type(1) {
  border-left: 3px solid red;
}
.hero__navbar button {
  font-family: "Roboto", sans-serif;
  width: 100px;
  padding: 10px 20px;
  margin-top: 50px;
  margin-left: 15%;
  border: none;
  background-color: rgb(255, 64, 30);
  color: white;
  border-radius: 20px;
  font-size: 17px;
}
.hero__navbar button:hover {
  cursor: pointer;
}
.hero__head {
  background-color: rgb(248, 248, 248);
  grid-area: head;
  font-size: clamp(20px, 2.7vw, 35px);
  display: flex;
  align-items: center;
}
.hero__subhead {
  background-color: rgb(248, 248, 248);
  grid-area: subhead;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}
.hero__subhead p {
  padding: 0px 40px 0px 10px;
  border-left: 3px solid rgb(255, 64, 30);
  color: rgb(122, 122, 122);
  font-size: clamp(13px, 1.2vw, 19px);
}
.hero__items {
  grid-area: items;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.hero__items-item {
  width: 150px;
  height: 200px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s;
}
.hero__items-item:hover {
  cursor: pointer;
  border: 1px solid rgb(194, 194, 194);
  box-shadow: rgba(54, 54, 59, 0.418) 0px 7px 29px 0px;
}
.hero__items-item img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}
.hero__items-item h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 13px;
  padding-top: 5px;
}
.hero__navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.hero__navbar-mobile h3 {
  font-size: 20px;
  color: black;
}
.hero__navbar-mobile img {
  width: 25px;
  height: 25px;
}

@media all and (max-width: 1140px) {
  .hero__items {
    margin-top: 40px;
  }
  .hero__head {
    padding-top: 40px;
  }
  .hero__subhead {
    padding-top: 40px;
  }
}

@media all and (max-width: 800px) {
  .hero {
    min-height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 10% auto auto 20%;
    grid-template-areas:
      "sidebar"
      "head"
      "items"
      "subhead";
  }
  .hero__navbar {
    grid-area: sidebar;
    display: block;
  }
  .hero__navbar > h3 {
    display: none;
  }
  .hero__navbar ul {
    display: none;
  }
  .hero__navbar button {
    display: none;
  }
  .hero__head {
    background-color: rgb(248, 248, 248);
    grid-area: head;
    font-size: 17px;
    line-height: 35px;
    display: block;
    margin: 20px 10%;
  }
  .hero__items {
    gap: 15px;
    padding-left: 10%;
  }
  .hero__items-item {
    width: 110px;
    height: 150px;
    padding: 20px;
  }
  .hero__items-item img {
    width: 80px;
    height: 80px;
  }
  .hero__items-item h4 {
    font-size: 11px;
    padding-top: 10px;
    text-align: center;
  }
  .hero__subhead p {
    font-size: 13px;
    line-height: 22px;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .hero__navbar-mobile {
    width: 100%;
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -25px;
  }
}
